Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: S3
          buckets:
            - elasticbeanstalk-us-east-1-015058543222  # Replace with your S3 bucket name
          roleName:
            "Fn::GetOptionSetting":
              Namespace: aws:autoscaling:launchconfiguration
              OptionName: IamInstanceProfile
              DefaultValue: aws-elasticbeanstalk-ec2-role
  files:
    "/opt/elasticbeanstalk/hooks/appdeploy/pre/10_copy_env_vars.sh":
      mode: "000755"
      owner: root
      group: root
      content: |
        #!/usr/bin/env bash
        # Download the .env file from S3 and set environment variables
        sudo aws s3 cp s3://elasticbeanstalk-us-east-1-015058543222/web-app/.env /var/app/staging/.env
  commands:
  01_update_packages:
    command: "sudo yum update -y"

  02_install_mysql_client:
    command: "sudo wget https://dev.mysql.com/get/mysql80-community-release-el9-1.noarch.rpm && sudo dnf install mysql80-community-release-el9-1.noarch.rpm -y && sudo dnf install mysql-community-client -y"

  03_create_database:
    command: "mysql -h \"$DB_HOST\" -u \"$USERNAME\" -p\"$PASSWORD\" -e \"CREATE DATABASE $DATABASE_NAME;\""

  #04_install_git:
    #command: "sudo yum install git -y"

  05_download_sql_file:
    command: "cd /var/www/html/database"

  06_import_sql_file:
    command: "mysql -h \"$MYSQL_HOST\" -u \"$MYSQL_USER\" -p\"$MYSQL_PASSWORD\" \"$DATABASE_NAME\" < store.sql"

  07_set_env_vars:
      command: |
        # Load environment variables from .env file
        if [ -f .env ]; then
            . .env
        fi
